{% extends "base_generic.html" %}
{% load static %}

{% block header %}
    <link rel="icon" type="image/x-icon" href="{% static 'accounts/images/favicon.ico' %}" />
    <link href="{% static 'accounts/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock header %}

{% block head_title %}Recuperar Senha{% endblock head_title %}

{% block content %}
<div class="container">
  <div class='login'>
    <div class="row">
        <div class=" col-12">
        <h2 class="my-5">Recuperar Senha</h2>
        <p>
            Enviamos para você instruções para redefinir sua senha, se houver uma conta com o e-mail que você digitou, você deve recebê-las em breve.
        </p>
        <p>
            Se você não recebeu um e-mail, certifique-se de inserir o endereço com o qual se inscreveu e também verifique sua pasta de spam.
        </p>
        </div>
    </div>
  </div>
    <div class="footer">
       {% comment %}  <a href="http://ufrpe.br" target="_blank">
                <img id="ufrpe-digital" src="{% static 'accounts/images/UFRPE-Digital-08.png' %}">
        </a> {% endcomment %}
        <a href="http://www.nti.ufrpe.br" target="_blank">
                <img id="logo-std" src="{% static 'accounts/images/std_amarelo_transparente.png' %}">
        </a>
  </div>
</div>
{% endblock content %}