{% extends "base_generic.html" %}
{% load static %}

{% block header %}
    <link rel="icon" type="image/x-icon" href="{% static 'accounts/images/favicon.ico' %}" />
    <link href="{% static 'accounts/css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock header %}

{% block head_title %}Recuperar Senha{% endblock head_title %}

{% block content %}
<div class="container">
  <div class='login'>
    <div class="row">
        <div class="col-12">
        <h2 class=" my-3">Alterar Senha</h2>
        {% if validlink %}
        <div class="row">
            <form class="col-12" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                <input type="password" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                id="id_new_password1" name="new_password1" value='{{ form.new_password1.value|default:"" }}'>
                {% if form.new_password1.errors %}
                <div class="invalid-feedback">{{ form.new_password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.new_password2.label_tag }}
                <input type="password" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                id="id_new_password2" name="new_password2" value='{{ form.new_password2.value|default:"" }}'>
                {% if form.new_password2.errors %}
                <div class="invalid-feedback">{{ form.new_password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary col-12">Alterar</button>
            </form>
        </div>
        {% else %}
        <p>
            O link não é válido, possivelmente esse link já foi utilizado. Por favor, requisite um 
            <a href="{% url 'accounts:password_reset' %}">novo link por email.</a>
        </p>
        {% endif %}
        </div>
    </div>
  </div>
    <div class="footer">
       {% comment %}  <a href="http://ufrpe.br" target="_blank">
                <img id="ufrpe-digital" src="{% static 'accounts/images/UFRPE-Digital-08.png' %}">
        </a> {% endcomment %}
        <a href="http://www.nti.ufrpe.br" target="_blank">
                <img id="logo-std" src="{% static 'accounts/images/std_amarelo_transparente.png' %}">
        </a>
  </div>
</div>
{% endblock content %}