{% load static %}
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Quem Somos</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">
                    A Divisão de Soluções para Campus Inteligente (DSCI) é uma divisão da Secretaria de Tecnologias Digitais (STD) da UFRPE que funciona como um Living Lab de Cidades Humanas, Inteligentes e Sustentáveis, utilizando o campus do Universidade Federal Rural de Pernambuco para estudos e implementação reais aplicáveis aos conceitos de Smart Cities. Possui atuação multidisciplinar e integração com demais Centros de Inovação e departamentos da UFRPE, a fim de criar e manter um portfólio de soluções para as cidades, complexos e conglomerados de convivência humana, como shopping centers, condomínios, clubes e outros.
                </p>
                <p class="text-white-75 mb-4">
                    Na DSCI são desenvolvidos projetos tanto de provas de conceito, aplicados no campus e em clientes externos, como de suporte à implementação em escala real. O programa também possui atuação educacional, com a ministração de cursos, eventos, integração junto a disciplinas acadêmicas, bem como inclusão dos estudantes aos projetos em desenvolvimento, sempre com vistas à formação de profissionais capacitados para atuarem na área.
                </p>
                <p class="text-white-75 mb-4">
                    O grande desafio da DSCI é o de fazer a integração dos dados disponibilizados por sensores, softwares e dispositivos de IoT oriundos de diversos setores (internos e externos) em um único DashBoard para simulação de uma Central de Controle e Operação de uma Smart City.
                </p>
                <p class="text-white-75 mb-4">
                    Para que esse desenvolvimento seja possível, a DSCI possui uma equipe interna especialista na integração das diferentes linguagens de comunicação dos dispositivos, dentre as quais destacam-se o LoRa, Bluetooth, ZigBee, Wireless, 5G entre outros, os quais são constantemente incrementados ao mercado.
                </p>
                <p class="text-white-75 mb-4">
                    O conceito de Smart Campus possui como princípio fundamental a simulação do ambiente real de uma cidade, priorizando projetos que colaborem e que estejam alinhados com os 17 Objetivos de Desenvolvimento Sustentável da ONU.
                </p>
                <a class="btn btn-light btn-xl" href="#portfolio">Veja nossos Projetos!</a>
            </div>
        </div>
    </div>
</section>