{% load static %}
<section class="page-section bg-dark text-white" id="dashboards">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Dashboards</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-book-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2"><a href="educacao/" style="color:white;text-decoration: none;">Educação e Cultura</a></h3>
                    <p class="text-muted mb-0">Dashboard com o resumo dos dados sobre Educação e Cultura da UFRPE.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-lightning-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2"><a href="energia-e-agua/" style="color:white;text-decoration: none;">Energia</a></h3>
                    <p class="text-muted mb-0">Dados abertos sobre o consumo de energia da UFRPE.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-bicycle fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2"><a href="mobilidade/" style="color:white;text-decoration: none;">Mobilidade</a></h3>
                    <p class="text-muted mb-0">Acesso aos dados abertos sobre a mobilidade urbana da UFRPE.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-building fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Governança</h3>
                    <p class="text-muted mb-0">Dashboard contendo dados abertos sobre a governança na UFRPE.</p>
                </div>
            </div>
        </div>
    </div>
</section>