{% load static %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Divisão de Soluções para Campus Inteligente <br/> DSCI</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">O lugar aberto para pesquisa, testes e validações de conceitos e tecnologias de Internet das Coisas aplicadas a projetos de Campus e Cidade Inteliegnte!</p>
                <a class="btn btn-primary btn-xl" href="#about">Saiba mais</a>
            </div>
        </div>
    </div>
</header>