{% load static %}
<div id="portfolio">
    <section class="page-section bg-primary">
        <div class="container-fluid p-0">
            <h2 class="text-center text-white mt-0">Projetos</h2>
            <hr class="divider divider-light" />
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'website/assets/img/portfolio/fullsize/1.jpg' %}" title="Consumo Inteligente">
                        <img class="img-fluid" src="{% static 'website/assets/img/portfolio/thumbnails/1.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Energia</div>
                            <div class="project-name">Consumo Inteligente</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'website/assets/img/portfolio/fullsize/2.jpg' %}" title="Meteorologia">
                        <img class="img-fluid" src="{% static 'website/assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Meio Ambiente</div>
                            <div class="project-name">Meteorologia</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'website/assets/img/portfolio/fullsize/3.jpg' %}" title="Serviços Digitais">
                        <img class="img-fluid" src="{% static 'website/assets/img/portfolio/thumbnails/3.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Governança Digital</div>
                            <div class="project-name">Serviços Digitais</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'website/assets/img/portfolio/fullsize/4.jpg' %}" title="Anti-Evasão">
                        <img class="img-fluid" src="{% static 'website/assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Educação</div>
                            <div class="project-name">Anti-Evasão</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'website/assets/img/portfolio/fullsize/5.jpg' %}" title="Estacionamento Inteligente">
                        <img class="img-fluid" src="{% static 'website/assets/img/portfolio/thumbnails/5.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Mobilidade e Segurança</div>
                            <div class="project-name">Estacionamento Inteligente</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static 'website/assets/img/portfolio/fullsize/6.jpg' %}" title="AgroTech">
                        <img class="img-fluid" src="{% static 'website/assets/img/portfolio/thumbnails/6.jpg' %}" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Negócio e Indústria</div>
                            <div class="project-name">AgroTech</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>