html, body {
    /*background-color:#0B2341;*/
    /*background-color:#f4f3ef;*/
    background-color:#303140;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}

.nav-tabs .nav-link.active {
    font-weight:bold;
    color:white;
    background-color:#303140;
}

.nav-link {
    color: white;
}


.django-plotly-dash-app-dsc_dashboard {
    max-width: 98%;
    margin: 0px auto;
}


.card {
    background-color:#303140;
}

.dash-graph {
    margin-left: 1%;
}

#logout {
    float:right;
}

circle {
    stroke-width: 20px;
    width: 15px;
    height: 15px;
}

#my-gauge-app1-1 svg {
    width: 150px;
    height: 150px;
}

#my-gauge-app1-2 svg {
    width: 150px;
    height: 150px;
}

#my-gauge-app1-3 svg {
    width: 150px;
    height: 150px;
}


#my-gauge-app1-4 svg {
    width: 150px;
    height: 150px;
}

#my-gauge-app1-5 svg {
    width: 150px;
    height: 150px;
}

#my-gauge-app1-6 svg {
    width: 150px;
    height: 150px;
}

#my-tank-1 {
    margin-left: 25px;
    margin-top: 15px;
}

#my-tank-1 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}


#my-tank-2 {
    margin-left: 25px;
    margin-top: 15px;
}

#my-tank-2 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}

#my-tank-3 {
    margin-left: 25px;
    margin-top: 15px;
}

#my-tank-3 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}











#row_2my-gauge-app1-1 svg {
    width: 150px;
    height: 150px;
}

#row_2my-gauge-app1-2 svg {
    width: 150px;
    height: 150px;
}

#row_2my-gauge-app1-3 svg {
    width: 150px;
    height: 150px;
}


#row_2my-gauge-app1-4 svg {
    width: 150px;
    height: 150px;
}

#row_2my-gauge-app1-5 svg {
    width: 150px;
    height: 150px;
}

#row_2my-gauge-app1-6 svg {
    width: 150px;
    height: 150px;
}

#row_2my-tank-1 {
    margin-left: 25px;
    margin-top: 15px;
}

#row_2my-tank-1 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}

#row_2my-tank-2 {
    margin-left: 25px;
    margin-top: 15px;
}

#row_2my-tank-2 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}

#row_2my-tank-3 {
    margin-left: 25px;
    margin-top: 15px;
}

#row_2my-tank-3 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}

#row_2my-graduatedbar-1 {
    margin-top: 30%;
}
















#row_3my-gauge-app1-1 svg {
    width: 150px;
    height: 150px;
}

#row_3my-gauge-app1-2 svg {
    width: 150px;
    height: 150px;
}

#row_3my-gauge-app1-3 svg {
    width: 150px;
    height: 150px;
}


#row_3my-gauge-app1-4 svg {
    width: 150px;
    height: 150px;
}

#row_3my-gauge-app1-5 svg {
    width: 150px;
    height: 150px;
}

#row_3my-gauge-app1-6 svg {
    width: 150px;
    height: 150px;
}

#row_3my-tank-1 {
    margin-left: 25px;
    margin-top: 15px;
}

#row_3my-tank-1 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}

#row_3my-tank-2 {
    margin-left: 25px;
    margin-top: 15px;
}

#row_3my-tank-2 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}

#row_3my-tank-3 {
    margin-left: 25px;
    margin-top: 15px;
}

#row_3my-tank-3 .daq-tank--light__container {
    width: 70px;
    height: 150px;
}







.label {
    color:white;
}

.card .cRfgdB .scale {
    fill: white;
}


.card .cRfgdB .needle {
    stroke: white;
    stroke-width: 5px;
}





/***************************** DIRETORIA *****************************/
.cards-content-info-header:first-of-type {
    font-weight:bold;
    color:#252422;
    border-bottom: 0.5px solid lightgray;
    height: 35px;
    margin: 0px;
    padding: 5px 15px;
    /*border-radius:10px 10px;*/
}

.cards-content-info-body:first-of-type {
    font-size:2em;
    text-align:center;
    color:#252422;
    border-radius:5px 5px;

}

.cards-info-body {
    display:table;
    vertical-align:middle;
    width:100%;
    padding: 0px;
}

.div-icon-card-body {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    
}

.div-content-card-body {
    display:table-cell;
    vertical-align:middle;
    height: 40px;
}

.cards-info {
    /*border-left: 0.5rem solid 	#252422;*/
    border-radius: 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.cards-summary {
    height: 95px;
    /*border: 0.1px solid 	#252422;*/
    /*border-left: 0.5rem solid 	#252422;*/
}

.cards-content-chart-header:first-of-type {
    font-weight:bold;
    color:#252422;
    border-radius:10px 10px;
}

.cards-chart:first-of-type {
    height:100%;
    border-radius: 15px 15px;
}
/****************************************************************/
